<h1> Servidor</h1>
<div class="realtimeproduct">
    <h2>productos</h2>
    <div class="products-container-rpt"></div>
</div>
<div class="events">
    <div class="add">
        <h2>Agregar producto</h2>
        <div class="formulario-add">
            <input id="add-tittle" type="text" placeholder="titulo">
            <input id="add-description" type="text" placeholder="descripcion">
            <input id="add-price" type="number" placeholder="precio">
            <input id="add-code" type="text" placeholder="codigo">
            <input id="add-stock" type="number" placeholder="stock">
            <input id="add-category" type="text" placeholder="categoria">
            <button id="button-add" onclick="addproduct()">Agregar Producto</button>
        </div>
    </div>
</div>